.quiz{
    margin: 15px 10%;
    padding: 15px 10px;
    border-radius: 10px;
    box-shadow: 1px 1px 10px 2px #aaaaaa;

}
.question_title{
    padding: 15px 10px;
}
.questions form{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1em;   
}