.about{
    text-align: justify;
    text-justify: inter-word;
    width: 50%;
    margin: 20px auto;  
}
/* responsive */
@media screen and (max-width: 992px) {
    .about{
        width: 70%;
    }
}

@media screen and (max-width: 600px) {
    .about{
        width: 90%;
    }
}