.topic{
    border: 1px solid #80808035;
    border-radius: 10px;
    padding: 5px;
}
.topic img{
    background-color: rgba(213, 213, 253, 0.382);
    width: 100%;
    border-radius: 6px;
}
.topic_content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: blueviolet;
    padding: 10px 0 0 0;
}
.topic_content button{
    color: white;
    background-color: blueviolet;
    border-radius: 5px;
    padding: 3px 10px;
}