.header_container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(64, 158, 221, 0.393);
    height: 60px;
    padding: 0 10%;    
    color: blueviolet;
}
.header_brand{
    display: flex;
    align-items: center;
    cursor: default;
}
.header_brand img{
    width: 26px;
    padding-right: 3px;
    padding-bottom: 4px;
}
.header_menu a{
    text-decoration: none;
    margin-left: 20px;
    font-size: 20px;
    font-weight: 600;
    padding: 5px 10px;
}
.header_menu a:hover{
    background-color: black;
    border-radius: 8px;
    color: white;
}
.active{
    background-color: orange;
    color: black;
    border-radius: 8px;
}
/* responsive */
@media screen and (max-width: 992px) {
    .header_container {
        align-items: center;
        justify-content: center;
        height: 80px;
    }
    .header_brand {
        justify-content: center;
    }
}

@media screen and (max-width: 700px) {
    .header_container {
        align-items: center;
        justify-content: center;
        flex-direction: column;
        height: 100px;
    }
    .header_brand{
        justify-content: center;
    }
}
@media screen and (max-width: 600px) {
    .header_container {
        align-items: center;
        justify-content: center;
        flex-direction: column;
        height: auto;
        padding: 10px 0;
    }
    .header_brand{
        justify-content: center;
    }
    .header_menu{
        display: flex;
        flex-direction: column;
    }
}